.clear_fix{
  clear:both;
  height:1em;
}

.active_slot{
  border:2px solid red;
}

#board {
  width:24em;
}

.square {
  float: left;
  margin: 0;
  padding: 0;
  width: 2.44em;
  height: 2.46em;
  background-size: 100%;
  background-repeat: no-repeat;
  cursor: pointer;
  text-align: center;
  font-size:1em;
  line-height:2.45em;
  font-weight: bold;
  color:black;
  border: 1px solid black;
}

.tile {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 2.3em;
  height: 2.3em;
  border: 0.5em solid black;
  background-size: 100%;
  background-repeat: no-repeat;
  cursor: pointer;
}

.empty.tile {
  background: gray;
}

.placed.tile {
  background: gray;
}

.player, .enemy {
  float:left;
  width:50%;
}

.racked.tile {
  background: black;
}

.picked.tile {
  opacity: 1;
}

#rack {
  margin:0 auto;
}